# Machine Learning Module, Data Analysis 
----------------------------------------

- **Student Name:** `Franklin Arruda Cirino`
- **Student Number:** `2021368`


#### **Quick Notes:**  
 - Same as the first assignment, I am still catching up due to personal circumstances, having me to leave class a bit earlier than usual, relfecting on the learning and explation in class, however I have been reading the notes afterward, and this time I want to address the feedback directly and take to account the points made previously.
   
 - The feedback mentioned that I should explain the **WHY** behind my choices more clearly, so I am making an effort to do that here.

## Part 1: Loading dataset and exploring it

In [59]:
# Importing libraries
import pandas as pd
import numpy as np

#### loading dataset
This step is inspired by the Titanic notebook used in class, but I adapted again for this project.

In [60]:
# Loading the dataset (BankRecords.csv)
df = pd.read_csv(r"C:\Users\STUDENT\Desktop\ML-CA2-50\BankRecords.csv")

#### Shape of the Dataset

In [61]:
# Checking shape of the dataset to understand the size
print("\nDataset Shape:")
print(df.shape)

Dataset Shape:
(5000, 14)

#### Sample rows OF dataset and cheking import was successful

In [62]:
# Displaying a sample of the dataset
print("\nSample of the Data:")
print(df.head())

Sample of the Data:
   ID  Age  Experience(Years)  Income(Thousands's)  Sort Code  Family  \
0   1   25                  1                   49      91107       4
1   2   45                 19                   34      90089       3
2   3   39                 15                   11      94720       1
3   4   35                  9                  100      94112       1
4   5   35                  8                   45      91330       4

   Credit Score Education  Mortgage(Thousands's) Personal Loan  \
0           1.6   Diploma                      0            No
1           1.5   Diploma                      0            No
2           1.0   Diploma                      0            No
3           2.7    Degree                      0            No
4           1.0    Degree                      0            No

  Securities Account CD Account Online Banking CreditCard
0                Yes         No             No         No
1                Yes         No             No         No
2                 No         No             No         No
3                 No         No             No         No
4                 No         No             No        Yes

---

### Checking Missing Values and Data Types, and memory usage:
This is an improvement from my first assignment, where I overlooked the impact of **NaNs** until later on the project.

Like, In my first assignment, I delayed checking for missing values and data types, which led to issues when training my models. This time, I am prioritizing this step to avoid similar mistakes because The feedback emphasized the importance of understanding the structure of the data early during the porject. Which would help me avoid the **"late detection"** problem I faced in my first assignment.

During the research on how to make the initial steps better I also bumped into a very interesting thing about memory usage whhich can help larger datasets not be interrupted during the model training, therefore, avoiding being out of memory errors. 

Checking data types and memory usage taken from pandas documentation: (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)

##### Data Types and Memory Usage

In [63]:
# Checking data types and overall structure

print("\nData Types and Memory Usage:")
df_info = df.info()  # Checking data types and memory usage here...
print(df_info)

Data Types and Memory Usage:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     5000 non-null   int64
 1   Age                    5000 non-null   int64
 2   Experience(Years)      5000 non-null   int64
 3   Income(Thousands's)    5000 non-null   int64
 4   Sort Code              5000 non-null   int64
 5   Family                 5000 non-null   int64
 6   Credit Score           5000 non-null   float64
 7   Education              5000 non-null   object
 8   Mortgage(Thousands's)  5000 non-null   int64
 9   Personal Loan          5000 non-null   object
 10  Securities Account     5000 non-null   object
 11  CD Account             5000 non-null   object
 12  Online Banking         5000 non-null   object
 13  CreditCard             5000 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 547.0+ KB
None

##### Missing Values

In [64]:
# Checking for missing values in each column this time
print("\nMissing Values:")
missing_values = df.isnull().sum()
print(missing_values)

Missing Values:
ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

#### Dropping the 'ID' column since it's just an identifier

I removed the 'ID' column because it’s just a number to identify each person. It doesn’t help the model learn anything, so I don’t need it.

In [65]:
print("\nDropping the 'ID' column...")
df.drop(columns=['ID'], inplace=True)

Dropping the 'ID' column...

#### Verifying the data after dropping 'ID'

In [66]:
print("\nData after dropping 'ID':")
print(df.head())

Data after dropping 'ID':
   Age  Experience(Years)  Income(Thousands's)  Sort Code  Family  \
0   25                  1                   49      91107       4
1   45                 19                   34      90089       3
2   39                 15                   11      94720       1
3   35                  9                  100      94112       1
4   35                  8                   45      91330       4

   Credit Score Education  Mortgage(Thousands's) Personal Loan  \
0           1.6   Diploma                      0            No
1           1.5   Diploma                      0            No
2           1.0   Diploma                      0            No
3           2.7    Degree                      0            No
4           1.0    Degree                      0            No

  Securities Account CD Account Online Banking CreditCard
0                Yes         No             No         No
1                Yes         No             No         No
2                 No         No             No         No
3                 No         No             No         No
4                 No         No             No        Yes

#### Binary encoding for 'Yes'/'No' columns

These columns have "Yes" and "No" answers. I changed them to 1 for Yes and 0 for No. This is because computers work better with numbers..haha

In [67]:
binary_cols = ['Personal Loan', 'Securities Account', 'CD Account', 'Online Banking', 'CreditCard']
df[binary_cols] = df[binary_cols].replace({'No': 0, 'Yes': 1}).astype(int)

C:\Users\STUDENT\AppData\Local\Temp\ipykernel_8996\115265984.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_cols] = df[binary_cols].replace({'No': 0, 'Yes': 1}).astype(int)

#### Verifying the binary encoding

I printed the first few rows to check if the Yes/No values changed correctly into 1 and 0.

In [68]:
print("\nSample of Binary Encoding:")
print(df[binary_cols].head())

Sample of Binary Encoding:
   Personal Loan  Securities Account  CD Account  Online Banking  CreditCard
0              0                   1           0               0           0
1              0                   1           0               0           0
2              0                   0           0               0           0
3              0                   0           0               0           0
4              0                   0           0               0           1

#### One-Hot Encoding for the 'Education' column
This is a nominal categorical feature, so one hot encoding might be appropriate here.

I checked what different types of education are in the data, and how many people are in each group.

In [69]:
print("\nUnique Values in 'Education':")
print(df['Education'].value_counts())

# I changed the 'Education' column into new columns with numbers. 
# Each new column is for one type of education. 
# I used drop_first=True so I don’t repeat the same info.
df = pd.get_dummies(df, columns=['Education'], drop_first=False)

Unique Values in 'Education':
Education
Diploma    2096
Masters    1501
Degree     1403
Name: count, dtype: int64

#### Converting the one-hot encoded columns to integers
This avoids any future issues with boolean data types.

In [70]:
education_cols = [col for col in df.columns if 'Education_' in col]
df[education_cols] = df[education_cols].astype(int)

#### Verifying the one-hot encoding , final check for the shape and Printing the columns before and after encoding for verification

In [73]:
# Verifying the one-hot encoding
print("\nData after One-Hot Encoding 'Education':")
print(df.head())

Data after One-Hot Encoding 'Education':
   Age  Experience(Years)  Income(Thousands's)  Sort Code  Family  \
0   25                  1                   49      91107       4
1   45                 19                   34      90089       3
2   39                 15                   11      94720       1
3   35                  9                  100      94112       1
4   35                  8                   45      91330       4

   Credit Score  Mortgage(Thousands's)  Personal Loan  Securities Account  \
0           1.6                      0              0                   1
1           1.5                      0              0                   1
2           1.0                      0              0                   0
3           2.7                      0              0                   0
4           1.0                      0              0                   0

   CD Account  Online Banking  CreditCard  Education_Degree  \
0           0               0           0                 0
1           0               0           0                 0
2           0               0           0                 0
3           0               0           0                 1
4           0               0           1                 1

   Education_Diploma  Education_Masters
0                  1                  0
1                  1                  0
2                  1                  0
3                  0                  0
4                  0                  0

In [74]:
# Printing all shape 
print("\nDataset Shape After Encoding and Cleaning:")
print(df.shape)

Dataset Shape After Encoding and Cleaning:
(5000, 15)

In [75]:
# Printing the columns 
print("\nColumns After One-Hot Encoding:")
print(df.columns)

Columns After One-Hot Encoding:
Index(['Age', 'Experience(Years)', 'Income(Thousands's)', 'Sort Code',
       'Family', 'Credit Score', 'Mortgage(Thousands's)', 'Personal Loan',
       'Securities Account', 'CD Account', 'Online Banking', 'CreditCard',
       'Education_Degree', 'Education_Diploma', 'Education_Masters'],
      dtype='object')

In [76]:
print("\nChecking for Missing Values After Cleanup:")
print(df.isnull().sum())

Checking for Missing Values After Cleanup:
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
Education_Degree         0
Education_Diploma        0
Education_Masters        0
dtype: int64

### Summury of Dta Cleanup and Encoding 

- First, they removed the 'ID' column because it's just a label and not useful for the analysis. Then, I changed some yes/no columns into 0 and 1 to make them easier for the computer to understand. After that, it showed a quick sample to check if that worked.

- After that, I looked at the 'Education' column and used one-hot encoding to turn it into multiple columns with numbers. I skipped the first category to avoid duplicate info.

- At the end, I printed out the shape of the data and the column names to see how everything changed after the cleaning and encoding.

---

I am adding references as I go to simplify the final formating for me....

# References

### Class Materials  

### Official Documentation 
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html
Accessed 10/05/2025

- https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python
Accessed 13/05/2025

- https://datagy.io/pandas-get-dummies/
Accessed 13/05/2025