# Machine Learning Module, Data Analysis 
----------------------------------------

- **Student Name:** `Franklin Arruda Cirino`
- **Student Number:** `2021368`


#### **Quick Notes:**  
 - Same as the first assignment, I am still catching up due to personal circumstances, having me to leave class a bit earlier than usual, relfecting on the learning and explation in class, however I have been reading the notes afterward, and this time I want to address the feedback directly and take to account the points made previously.
   
 - The feedback mentioned that I should explain the **WHY** behind my choices more clearly, so I am making an effort to do that here.

## Part 1: Loading dataset and exploring it

In [1]:
# Importing libraries
import pandas as pd
import numpy as np

#### loading dataset
This step is inspired by the Titanic notebook used in class, but I adapted again for this project.

In [2]:
# Loading the dataset (BankRecords.csv)
df = pd.read_csv(r"C:\Users\STUDENT\Desktop\ML-CA2-50\BankRecords.csv")

#### Shape of the Dataset

In [3]:
# Checking shape of the dataset to understand the size
print("\nDataset Shape:")
print(df.shape)

Dataset Shape:
(5000, 14)

#### Sample rows OF dataset and cheking import was successful

In [4]:
# Displaying a sample of the dataset
print("\nSample of the Data:")
print(df.head())

Sample of the Data:
   ID  Age  Experience(Years)  Income(Thousands's)  Sort Code  Family  \
0   1   25                  1                   49      91107       4
1   2   45                 19                   34      90089       3
2   3   39                 15                   11      94720       1
3   4   35                  9                  100      94112       1
4   5   35                  8                   45      91330       4

   Credit Score Education  Mortgage(Thousands's) Personal Loan  \
0           1.6   Diploma                      0            No
1           1.5   Diploma                      0            No
2           1.0   Diploma                      0            No
3           2.7    Degree                      0            No
4           1.0    Degree                      0            No

  Securities Account CD Account Online Banking CreditCard
0                Yes         No             No         No
1                Yes         No             No         No
2                 No         No             No         No
3                 No         No             No         No
4                 No         No             No        Yes

---

### Checking Missing Values and Data Types, and memory usage:
This is an improvement from my first assignment, where I overlooked the impact of **NaNs** until later on the project.

Like, In my first assignment, I delayed checking for missing values and data types, which led to issues when training my models. This time, I am prioritizing this step to avoid similar mistakes because The feedback emphasized the importance of understanding the structure of the data early during the porject. Which would help me avoid the **"late detection"** problem I faced in my first assignment.

During the research on how to make the initial steps better I also bumped into a very interesting thing about memory usage whhich can help larger datasets not be interrupted during the model training, therefore, avoiding being out of memory errors. 

Checking data types and memory usage taken from pandas documentation: (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)

##### Data Types and Memory Usage

In [5]:
# Checking data types and overall structure

print("\nData Types and Memory Usage:")
df_info = df.info()  # Checking data types and memory usage here...
print(df_info)

Data Types and Memory Usage:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     5000 non-null   int64
 1   Age                    5000 non-null   int64
 2   Experience(Years)      5000 non-null   int64
 3   Income(Thousands's)    5000 non-null   int64
 4   Sort Code              5000 non-null   int64
 5   Family                 5000 non-null   int64
 6   Credit Score           5000 non-null   float64
 7   Education              5000 non-null   object
 8   Mortgage(Thousands's)  5000 non-null   int64
 9   Personal Loan          5000 non-null   object
 10  Securities Account     5000 non-null   object
 11  CD Account             5000 non-null   object
 12  Online Banking         5000 non-null   object
 13  CreditCard             5000 non-null   object
dtypes: float64(1), int64(7), object(6)
memory usage: 547.0+ KB
None

##### Missing Values

In [6]:
# Checking for missing values in each column this time
print("\nMissing Values:")
missing_values = df.isnull().sum()
print(missing_values)

Missing Values:
ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

#### Dropping rows with missing values

In [11]:
df.dropna(inplace=True)

In [9]:
print("\nChecking for Missing Values After Cleanup:")
print(df.isnull().sum())

Checking for Missing Values After Cleanup:
ID                       0
Age                      0
Experience(Years)        0
Income(Thousands's)      0
Sort Code                0
Family                   0
Credit Score             0
Education                0
Mortgage(Thousands's)    0
Personal Loan            0
Securities Account       0
CD Account               0
Online Banking           0
CreditCard               0
dtype: int64

#### Converting categorical columns to category type

Following up the first assignment feedback, I missed some basic data type optimizations, which could have made the data preparation faster. This time, I am addressing this earlier to avoid similar issues.

In [ ]:
categorical_columns = ['Education', 'Personal Loan', 'Securities Account', 'CD Account', 'Online Banking', 'CreditCard']
df[categorical_columns] = df[categorical_columns].astype('category')

In [13]:
# Display a sample to confirm changes
print("\nSample Data After Preprocessing:")
print(df.head())

Sample Data After Preprocessing:
   ID  Age  Experience(Years)  Income(Thousands's)  Sort Code  Family  \
0   1   25                  1                   49      91107       4
1   2   45                 19                   34      90089       3
2   3   39                 15                   11      94720       1
3   4   35                  9                  100      94112       1
4   5   35                  8                   45      91330       4

   Credit Score Education  Mortgage(Thousands's) Personal Loan  \
0           1.6   Diploma                      0            No
1           1.5   Diploma                      0            No
2           1.0   Diploma                      0            No
3           2.7    Degree                      0            No
4           1.0    Degree                      0            No

  Securities Account CD Account Online Banking CreditCard
0                Yes         No             No         No
1                Yes         No             No         No
2                 No         No             No         No
3                 No         No             No         No
4                 No         No             No        Yes

---

I am adding references as I go to simplify the final formating for me....

# References

### Class Materials  

### Official Documentation 
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html
- Accessed 10/05/2025